// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'

// Material only Quasar variables overwrites
// -----------------------------------------
$saladyellow = #C5B513
$whiteblue = #00aab7
$pastelblue = #bae1ff
